 <!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Helios Protocol Block Explorer</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
    <script src="js/helios-block-explorer-master.js?version=3"></script>
    <script src="js/utils.js?version=3"></script>
    <script src="js/visual.js?version=3"></script>
    <script src="js/main.js?version=3"></script>
    <script src="js/menu.js?version=3"></script>
    <script src="js/nodes.js?version=3"></script>
    <script src="js/custom_select.js?version=3"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/menu.css?version=3">
    <link rel="stylesheet" href="css/main.css?version=3">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000" />

</head>

<body>
    <div id="page-size-indicator"></div>
    @@include( '../includes/popup.html')

    <div id='main_page' class='page active'>
        <div id="page-wrap">

            @@include( '../includes/menu.html')


            <div id="main_outer">
                @@include( '../includes/main_inner.html')
            </div>

            <!--<div class='popup_content_store' id='popup_content_confirm_transactions'>-->
                <!--@@include( '../includes/popup_content_confirm_transactions.html')-->
            <!--</div>-->
            <div id="footer_margin"></div>
        </div>
        @@include( '../includes/footer.html')
    </div>

</body>
</html>